<ng-template #content let-c="close">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> {{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editEducationForm">
            <div class="form-group">
                <label for="editEducationTitle">Title</label>
                <input type="text" class="form-control" id="editEducationTitle" formControlName="title" placeholder="Title"
                       [ngClass]="{ 'is-invalid': submitted && f.title.invalid }">
                <div *ngIf="submitted && f.title.invalid" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="editEducationDegree">Degree</label>
                <input type="text" class="form-control" id="editEducationDegree" formControlName="degree" placeholder="Degree"
                       [ngClass]="{ 'is-invalid': submitted && f.degree.invalid }" />
                <div *ngIf="submitted && f.degree.invalid" class="invalid-feedback">
                    <div *ngIf="f.degree.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="editEducationSchool">School</label>
                <input type="text" class="form-control" id="editEducationSchool" formControlName="school" placeholder="School"
                       [ngClass]="{ 'is-invalid': submitted && f.school.invalid }" />
                <div *ngIf="submitted && f.school.invalid" class="invalid-feedback">
                    <div *ngIf="f.school.errors.required">Title is required</div>
                </div>
            </div>
            <div class="row" formGroupName="period">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="editExperienceStartYear">Start Year</label>
                                <select class="form-control" id="editExperienceStartYear" formControlName="startYear">
                                    <option *ngFor="let year of years;" value="{{year}}">{{year}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="editExperienceStartMonth">Start Month</label>
                                <select class="form-control" id="editExperienceStartMonth" formControlName="startMonth">
                                    <option *ngFor="let month of months;"
                                            value="{{month.value}}">{{month.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="editExperienceEndYear">End Year (or expected)</label>
                                <select class="form-control" id="editExperienceEndYear" formControlName="endYear"
                                        [ngClass]="{ 'is-invalid': submitted && f.period.invalid }">
                                    <option *ngFor="let year of futureYears;" value="{{year}}">{{year}}</option>
                                </select>
                                <div class="invalid-feedback text-nowrap" *ngIf="submitted && f.period.invalid">
                                    <div *ngIf="submitted && f.period.errors?.dates">{{f.period.errors?.dates}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="editExperienceEndMonth">End Month</label>
                                <select class="form-control" id="editExperienceEndMonth" formControlName="endMonth">
                                    <option *ngFor="let month of months;"
                                            value="{{month.value}}">{{month.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" #educationId class="form-control" id="educationId" formControlName="educationId">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="onSubmit()">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="onClose()">Dismiss</button>
    </div>
</ng-template>


