<a class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{jobItem?.jobTitle}}</h5>
        <small class="edit-education" (click)="onEditExperience(index)" *ngIf="isOwner">
            <i class="bi bi-pencil"></i>
        </small>
    </div>
    <p class="mb-1">{{jobItem?.companyName}}</p>
    <small>{{jobItem?.industry}}</small>
    <p class="mb-1">{{jobItem?.description}}</p>
    <!--<p class="mb-1">{{jobItem?.isCurrent}}</p>-->
    <p class="mb-1">
        {{jobItem.period?.startMonth}}/{{jobItem.period?.startYear}}
        till
        {{jobItem.period?.endMonth}}/{{jobItem.period?.endYear}}
    </p>
</a>
