<div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{educationItem?.school}}</h5>
        <small class="edit-education" (click)="onEditEducation(index)">
            <i class="bi bi-pencil"></i>
        </small>
    </div>
    <p class="mb-1">{{educationItem?.title}}</p>
    <small>{{educationItem?.degree}}</small>

    <p class="mb-1">
        {{educationItem?.period?.startMonth}}/{{educationItem?.period?.startYear}}
        till
        {{educationItem?.period?.endMonth}}/{{educationItem?.period?.endYear}}
    </p>
</div>
