<div class="row mr-1 mb-1" *ngIf="!isRecruiter">
    <div class="ml-auto">
        <button type="button" class="btn btn-light" (click)="goBack()">
            <i ngbTooltip="Go back" class="bi bi-arrow-90deg-left bi--1xl"></i>
        </button>
    </div>
</div>
<div class="border-5 p-4">
    <div class="row">
        <div class="col-12 pl-0">
            <h3>
                <span class="mr-2">{{jobValue?.jobTitle}}</span>
                <span [ngbTooltip]="'Edit Job'" *ngIf="isRecruiter && ownsJob" (click)="updateJob(jobValue?.jobId)">
                    <i class="bi bi-pencil-square refresh-color"></i>
                </span>
                <span [ngbTooltip]="'Delete Job'" *ngIf="isRecruiter && ownsJob" (click)="deleteJob(jobValue?.jobId)">
                    <i class="bi bi-trash trash-color"></i>
                </span>
            </h3>
        </div>
    </div>
    <div class="row" *ngIf="!isRecruiter">
        <div class="col-12 pb-3 pt-3">
            <button class="btn btn-success btn-sm btn-block" [disabled]="hasApplied"
                    (click)="applyForJob(jobValue?.jobId)">
                {{buttonLabel}}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="" [innerHTML]="jobValue?.description"></div>
    </div>

    <div class="row mt-2">
        <div class="col-12 pl-0">
            <h4>Skills</h4>
        </div>

        <ul class="list-group" *ngFor="let jobSkill of jobValue?.requiredSkills;">
            <li class="list-group-item d-flex justify-content-between align-items-center m-1">
                {{jobSkill?.skillNode?.name}}
                <span ngbTooltip="Years of experience - {{jobSkill?.yearsOfExperience}}"
                      class="badge badge-primary badge-pill ml-5">
                {{jobSkill?.yearsOfExperience}}
            </span>
            </li>
        </ul>
    </div>

    <div class="row" *ngIf="!isRecruiter">
        <div class="col-12 pt-5">
            <button class="btn btn-success btn-sm btn-block" [disabled]="hasApplied"
                    (click)="applyForJob(jobValue?.jobId)">
                {{buttonLabel}}
            </button>
        </div>
    </div>
</div>
<br>
<div *ngIf="isRecruiter && ownsJob">
    <div class="row">
        <div class="col-12 pl-4">
            <h3>Show Candidates applied</h3>
            <div class="row" *ngIf="appliedWithReccomendationForJob?.length === 0">
                <div class="p-3 col-lg-12 col-md-6 col-sm-6">
                    None has applied yet but don't loose your faith! :)
                </div>
            </div>
            <div class="row">
                <div class="p-2 col-lg-4 col-md-6 col-sm-6" *ngFor="let awrfj of appliedWithReccomendationForJob;">
                    <div class="card p-3 m-2">
                        <div><a [routerLink]="['/profile/'+awrfj?.candidateEntityId]">{{awrfj?.candidateName}}</a>
                        </div>
                        <div>Candidate has: {{awrfj?.haveSkillNames}} ({{awrfj?.candidateSkillNumber}})</div>
                        <div>Candidate has not: {{awrfj?.dontHave}} ({{awrfj.dontHave?.length}})</div>
                        <div>Matching percentage: {{awrfj?.percent | percent }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pl-4">
            <h3 class="text-decoration-line-through">Show Recommendations
                <span ngbTooltip="Refresh List" (click)="refreshRecommendationList()">
                    <i class="bi bi-arrow-repeat refresh-color"></i>
                </span>
            </h3>
            <div *ngIf="jobRequires?.length">Job requires skills: {{jobRequires}} ({{jobRequires?.length}})</div>
            <div *ngIf="recommendationForJob?.length">Total Recommendations: {{recommendationForJob?.length}}</div>
            <div class="row">
                <div class="p-2 col-lg-4 col-md-6 col-sm-6" *ngFor="let rfj of recommendationForJob;">
                    <div class="card p-3 m-2">
                        <div class="row">
                            <div class="col-9">
                                <a [routerLink]="['/profile/'+rfj?.candidateEntityId]">{{rfj?.candidateName}}</a>
                            </div>
                            <div class="col-3">
                                <span class="ml-4" *ngIf="rfj?.percent >= 0.29 && rfj?.percent < 0.84">
                                    <i class="bi bi-hand-thumbs-up text-success"></i>
                                </span>
                                <span *ngIf="rfj?.percent >= 0.85">
                                    <i class="bi bi-star-fill bi--sm text-success"></i>
                                    <i class="bi bi-star-fill bi--sm text-success"></i>
                                    <i class="bi bi-star-fill bi--sm text-success"></i>
                                </span>
                            </div>
                        </div>
                        <div>Candidate has: {{rfj?.haveSkillNames}} ({{rfj?.candidateSkillNumber}})</div>
                        <div>Candidate has not: {{rfj?.dontHave}} ({{rfj.dontHave?.length}})</div>
                        <div>Matching percentage: {{rfj?.percent  | percent }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
