<div class="row pb-5" *ngIf="jobs?.length">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header"><span>Experience</span>
                <span class="float-right mr-1" *ngIf="isOwner">
                    <a (click)="onAddExperience()">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </span>
            </h5>
            <div class="card-body">
                <!--<h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                <!--*ngIf="education.length>0;"-->
                <div class="list-group" >
                    <app-profile-experience-item
                        *ngFor="let job of jobs; let i=index;"
                        [jobItem]="job"
                        [index]="i"
                        [experienceId] = "job.experienceId"
                    ></app-profile-experience-item>

                </div>
            </div>
        </div>
    </div>
</div>
