<ng-template #content let-c="close" let-d="dismiss">
    <div *ngIf="!editState">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add skills</h4>
            <button type="button" class="close" aria-label="Close" (click)="onClose()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addSkillsForm" *ngIf="addSkillsForm" (ngSubmit)="onSave()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pb-1">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                        <span class="input-group-text search" id="searchSkill">
                            <i class="bi bi-search"></i>
                        </span>
                                </div>
                                <input type="text" class="form-control" formControlName="skillExcluded"
                                       placeholder="Skill"
                                       aria-label="Skill" aria-describedby="searchSkill"
                                       [ngbTypeahead]="search"
                                       #skillElem
                                       [inputFormatter]="formatMatches"
                                       [resultFormatter]="formatMatches"
                                       (selectItem)="addSkill($event);"
                                >
                                <small *ngIf="searching" class="form-text text-muted">searching...</small>
                                <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be
                                    loaded.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-content-start flex-wrap">
                            <div class="pr-2 pb-1" formArrayName="skills"
                                 *ngFor="let skill of aliases.controls; let i = index;">
                                <ng-container [formGroupName]="i">
                                    <div class="input-group mb-3">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-sm" type="button">
                                                <span>{{skill.get('name').value}}</span>
                                                <span (click)="removeSelectedSkill(i)">
                                                    <i class="bi bi-x"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input type="number"
                                               formControlName="yearsOfExperience"
                                               min="1"
                                               class="form-control yearsOfExperience"
                                        >
                                        <input type="hidden" formControlName="name">
                                        <input type="hidden" formControlName="id">
                                        <input type="hidden" formControlName="entityId">
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success">Save</button>
                <button type="button" class="btn btn-outline-dark" (click)="onClose()">Dismiss</button>
            </div>
        </form>
    </div>

    <div *ngIf="editState">
        <form [formGroup]="editSkillsForm" *ngIf="editSkillsForm" (ngSubmit)="onSaveEdit()">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title-edit">Edit skills</h4>
                <button type="button" class="close" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pb-1">
                        <div class="md-form mb-3">
                            <input class="form-control"
                                   (keyup)="searchCandidateSkillList(editSkillsForm.get('filterCandidateSkillList').value)"
                                   formControlName="filterCandidateSkillList"
                                   type="text"
                                   placeholder="Search"
                                   aria-label="Search">
                        </div>
                        <div class="form-group">
                            <div class="pr-2 pb-1" formArrayName="editSkills" >
                                <div class="list-group list-group-horizontal"
                                     style="display: grid!important;
                                            grid-template-columns: repeat(auto-fill, minmax(250px, 10fr));">
                                    <div *ngFor="let skill of aliasesEdit.controls | filterByName: searchTerm; let i = index;">
                                    <ng-container [formGroupName]="i" class="mb-2">
                                            <div class="input-group pb-3">
                                                <div class="input-group-append pb-3">

                                                    <button class="btn btn-primary btn-sm text-truncate" style="max-width: 100px;" type="button" ngbTooltip="{{skill.get('skillNode.name').value}}">
                                                        <span>{{skill.get('skillNode.name').value}}</span>
                                                    </button>
                                                    <button class="btn btn-primary btn-sm" type="button">
                                                        <span (click)="removeSkill(i, skill.get('relUuid').value)">
                                                            <i class="bi bi-x"></i>
                                                        </span>
                                                    </button>

                                                    <input type="number"
                                                           formControlName="yearsOfExperience"
                                                           class="form-control yearsOfExperience"
                                                           min="1"
                                                           value="{{skill.get('yearsOfExperience').value}}"
                                                    >

                                                    <input type="hidden" formControlName="relUuid"
                                                           value="{{skill.get('relUuid').value}}">
                                                    <div formGroupName="skillNode">
                                                        <input type="hidden" formControlName="name"
                                                               value="{{skill.get('skillNode.name').value}}">
                                                        <input type="hidden" formControlName="entityId"
                                                               value="{{skill.get('skillNode.entityId').value}}">
                                                    </div>
                                                </div>
                                            </div>
                                    </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success">Save</button>
                <button type="button" class="btn btn-outline-dark" (click)="onClose()">Dismiss</button>
            </div>
        </form>
    </div>

    <!--<app-loader></app-loader>-->
</ng-template>

<!--
<ng-container *ngTemplateOutlet="content" style="display: none;">
</ng-container>
-->



<!-- <input type="number"
       formControlName="yearsOfExperience"
       class="form-control yearsOfExperience"
       value="{{skill.get('yearsOfExperience').value}}"
>
<input type="text" formControlName="name" value="{{skill.get('name').value}}">
<input type="hidden" formControlName="entityId" value="{{skill.get('entityId').value}}">
<input type="hidden" formControlName="relUuid" value="{{skill.get('relUuid').value}}"> -->
