<div class="container">
    <form [formGroup]="searchCandidates" (ngSubmit)="onSave()">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-search"></i>
            </span>
            </div>
            <input type="text"
                   class="form-control"
                   formControlName="excludedSkill"
                   placeholder="Search By Skill(s).."
                   #skill
                   [ngbTypeahead]="search"
                   [inputFormatter]="formatMatches"
                   [resultFormatter]="formatMatches"
                   (selectItem)="addSkill($event);">
            <!--<button class="btn btn-success" (click)="addSkill($event)">
                Search
            </button>-->
        </div>
        <small class="form-text text-muted">For accurate results please add one Skill per time!</small>
        <br>
        <div class="pb-2">
            I am searching for a skilled candidate having:
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex align-content-start flex-wrap">
                    <div class="pr-2 pb-1" formArrayName="skills"
                         *ngFor="let skill of aliases.controls; let i = index;">
                        <ng-container [formGroupName]="i">
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm" type="button">
                                        <span>{{skill.get('name').value}}</span>
                                        <span (click)="removeSelectedSkill(i)">
                                                    <i class="bi bi-x"></i>
                                                </span>
                                    </button>
                                </div>
                                <input type="number"
                                       formControlName="yearsOfExperience"
                                       min="1"
                                       class="form-control yearsOfExperience"
                                >
                                <input type="hidden" formControlName="name">
                                <input type="hidden" formControlName="id">
                                <input type="hidden" formControlName="entityId">
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-search"></i>
                Search
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="clear()">Clear</button>
        </div>
    </form>

    <div class="row" *ngIf="loaded">
        <div class="p-2 col-lg-4 col-md-6 col-sm-6" *ngFor="let c of candidateResults;">
            <div class="card p-3 m-2">
                <div><a [routerLink]="['/profile/'+c?.entityId]">{{c?.name}}</a>
                </div>
                <div>Email: {{c?.email}}</div>
            </div>
        </div>
    </div>
</div>
