<div class="row" *ngIf="loaded && jobModel.length>0; else nothingFound;">
    <div class="col-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start"
               [class.active]=" selectedItem === job"
               *ngFor="let job of jobModel; let i = index;" (click)="selected(job);">
                <!--<div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>-->
                {{job.description}}
                {{job.jobTitle}}
                {{job.jobId}}
            </a>
        </div>
    </div>
    <div class="col-8">
        <app-job-search-item *ngIf="selectedJob" [jobItem]=selectedJob>
        </app-job-search-item>
    </div>

    <br>
    <ngb-pagination
        [pageSize]="page.pageSize"
        [collectionSize]="collectionSize"
        [(page)]="thePageNumber"
        (pageChange)="updatePage()">
    </ngb-pagination>
</div>

<ng-template #nothingFound>
    No job found for selected criteria.
</ng-template>
