<div class="row p-3" *ngIf="loaded">
    [{{keywords }}]
</div>
<div class="row pl-3" *ngIf="loaded && jobModel.length>0; else nothingFound;">
    <ngb-pagination
        [pageSize]="page.pageSize"
        [collectionSize]="collectionSize"
        [(page)]="thePageNumber"
        (pageChange)="updatePage()">
    </ngb-pagination>
</div>
<div class="row" *ngIf="loaded && jobModel.length>0; else nothingFound;">
    <div class="col-4">
        <div class="list-group">
            <a #job_list_item class="list-group-item list-group-item-action flex-column
             align-items-start list-item-height overflow-hidden "
               [class.active]=" selectedItem === job"
               [ngClass]="job_list_item.classList.contains('active')  ? '' : 'fade-description-list'"
               *ngFor="let job of jobModel; let i = index;" (click)="selected(job);">
                <h4>{{job.jobTitle}}</h4>
                <div [innerHTML]="job?.description"></div>
            </a>
        </div>
    </div>
    <div class="col-8">
        <app-job-search-item *ngIf="selectedJob" [jobItem]=selectedJob>
        </app-job-search-item>
    </div>

    <br>
</div>

<ng-template #nothingFound>
    No job found for selected criteria.
</ng-template>
