<!--
<div class="card bg-dark text-white">
    <img src="assets/images/default-placeholder-image.png" alt="" class="img-fluid" style="height: 400px;">
    <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>

    <img src="assets/images/male.jpg" alt="..." class="rounded-circle">
</div>
-->
<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="container db-social">
    <div class="jumbotron jumbotron-fluid" [ngStyle]="{'background-image': 'url(' + coverPic + ')'}"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="widget head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div
                                class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                what about a quote?
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                <div class="image-default">

                                    <img class="rounded-circle img-fluid img-thumbnail" *ngIf="loaded && results?.image; else emptyImage;" [src]="results?.image">
                                    <ng-template #emptyImage>
                                        <img class="rounded-circle img-fluid img-thumbnail">
                                    </ng-template>

                                <a (click)="profilePhotoAction()">
                                    <div class="svgContainer">
                                        <i class="bi bi-camera camera bi--xl m-1"></i>
                                    </div>
                                </a>
                                </div>
                                <div class="infos">
                                    <h2>{{results?.name}} {{results?.surname}}</h2>
                                    <div class="location">Las Vegas, Nevada, U.S.</div>
                                </div>
                            </div>
                            <div
                                class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            appDropdown #ref="appDropdown">
                                        Add / Edit Profile Section
                                    </button>
                                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" [ngClass]="{'show':ref.getToggle}">
                                        <a class="dropdown-item" (click)="profilePhotoAction()">Profile photo</a>
                                        <a class="dropdown-item" (click)="introAction()">Summary</a>
                                        <a class="dropdown-item" (click)="workExperienceAction()">Work Experience</a>
                                        <a class="dropdown-item" (click)="educationAction()">Education</a>
                                        <a class="dropdown-item" (click)="skillsAction()">Skills</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<app-profile-experience-list></app-profile-experience-list>  -->


<app-profile-summary ></app-profile-summary>
<app-profile-experience-list></app-profile-experience-list>
<app-profile-education-list></app-profile-education-list>
<app-profile-skill-list></app-profile-skill-list>

