<div class="row pb-5" *ngIf="educations?.length">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header"><span>{{sectionTitle}}</span>
                <span class="float-right mr-1">
                    <a (click)="onAddEducation()">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd"
                                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </span>
            </h5>
            <div class="card-body">
                <!--<h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                <div class="list-group" *ngIf="educations.length>0;">
                    <app-profile-education-item
                        *ngFor="let education of educations; let i=index;"
                        [educationItem]=education
                        [index]=i
                        [educationId]="education.experienceId">
                    </app-profile-education-item>
                </div>
            </div>
        </div>
    </div>
</div>


