<div class="row pb-5" *ngIf="educations?.length">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header"><span>{{sectionTitle}}</span>
                <span class="float-right mr-1">
                    <a (click)="onAddEducation()">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </span>
            </h5>
            <div class="card-body">
                <!--<h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                <div class="list-group" *ngIf="educations.length>0;">
                    <app-profile-education-item
                        *ngFor="let education of educations; let i=index;"
                        [educationItem]=education
                        [index]=i
                        [educationId]="education.educationId">
                    </app-profile-education-item>
                </div>
            </div>
        </div>
    </div>
</div>


