<div class="row pb-5" *ngIf="data?.summary.length > 0 && loaded;">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header"><span>Summary</span>
            </h5>
            <div class="card-body">
                <!--<h5 class="card-title">Special title treatment</h5>-->
                <div class="row pl-4 pr-4">
                    <div class="col-11">
                        <p class="card-text">{{data?.summary}}</p>
                    </div>
                    <div class="col-1" *ngIf="isOwner">
                        <small class="float-right" (click)="onAddOrEditSummary()">
                            <i class="bi bi-pencil"></i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
