<div class="row">
    <div class="col col-lg-12 col-md-12 col-xs-12">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <h1 class="h3 mb-3 font-weight-normal">Register a new account!</h1>
            <div class="form-group">
                <label for="registerName">Name</label>
                <input type="text" class="form-control" id="registerName" formControlName="name">
            </div>
            <div class="form-group">
                <label for="registerSurname">Surname</label>
                <input type="text" class="form-control" id="registerSurname" formControlName="surname">
            </div>
            <div class="form-group">
                <label for="registerEmail">Email address</label>
                <input type="email" class="form-control" id="registerEmail" formControlName="email">
            </div>
            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" id="registerPassword" formControlName="password">
            </div>
            <div class="form-group">
                <label for="registerConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="registerConfirmPassword" formControlName="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary mr-1">Submit</button>
            <a class="btn btn-success" routerLink="/login" role="button">Login</a>
        </form>
    </div>
</div>
